/* You can add global styles to this file, and also import other style files */
@import url('https://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import '~/node_modules/angular-notifier/styles';

body {
    background: #edf1f5;
    margin-top: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    margin-bottom: 30px;
}

#header_tools {
    display: flex;
    column-gap: 10px;
    flex-direction: row-reverse;
}

#header_tools a {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.table-wrapper .col-sm-6 h2 {
    margin-bottom: 0px;
}